{
    "env": {
      "browser": true
    },
    "extends": ["airbnb/base","prettier"],
    "plugins": ["prettier"],
    "rules": {
      "prettier/prettier": ["error"]
    },
    "ignorePatterns": ["dist","node_modules"],
    "globals": {
      "mQuery": true,
      // "grapesjs": true,
      "Mousetrap":true,
      "Mautic":true,
      "mauticAjaxCsrf":true
    }
  }
  